.app {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.app-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.app-board-content {
    display: flex;
}
